body {
    background-color: burlywood;
}

#navB {
    z-index: 6;
}

.navbar {
    position: fixed;
    background-color: white ;
    width: 100vw;
    height: 4vw;
    
}
/* 
 .navbar .navbar-brand { 
    background-color: navy;
    position:fixed;
    padding: 0vw;
    font-size: 1.5vw;
    top:0px;
    background-color: white;
    color: #000;
} */ 

.navbar .navbar-brand:hover{
    background-color: rgb(250, 230, 203);
}

.navbar .nav-link{
    color: black;
    position: fixed;
    top:0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 20px; */
    background-color: white;
}

#L0 {
    left: 2vw;
    /* top: 0vw; */
    font-size: 2vw;
    padding: 0;
}

#L0:hover {
    background-color: rgb(250, 230, 203);
}

#L1 {
    left: 15vw;
    /* top: 0vw; */
    padding: 0;
    font-size: 2vw;

}

#L1:hover {
    background-color: rgb(250, 230, 203);
}

#L2 {
    left: 30vw;
    font-size: 2vw;
    padding: 0;
}

#L2:hover {
    background-color:rgb(250, 230, 203);
}

#L3 {
    left:45vw;
    font-size: 2vw;
    padding: 0;
}

#L3:hover{
    background-color: rgb(250, 230, 203);
}

.back-img{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.089), rgb(253,255,255,0.198)), url("./assets/willow2.jpg" );
    opacity: 1;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

#headerDiv {
    /* position: relative; */
    color: rgb(17, 14, 36);
    margin: 0px;
    /* padding:350px; */
    padding-top: 30vh;
    padding-bottom: 30vh;
    text-align: center;
}

#alayna{
    /* position: relative; */
    color: rgb(9, 9, 41);
    /* background-color:burlywood; */
    margin: 0;
    font-size: 9vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.back-img h3 {
    padding: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
}

.aboutMe{
    display: flex;
    margin: 2vw;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

#about {
    color: rgb (45,56,67);
    text-align: center;
    padding: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutMe p {
    flex: 2;
    color: rgb (45,56,67);
    padding: 0vh;
    /* float: right; */
    width: 50vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
}

.aboutMe a{
    /* position: relative; */
    color: rgb (45,56,67);
    padding-left: 5vw;
}

#pic{
    width:30%;
}

.aboutMe img {
    /* float: left; */
    flex: 1;
    padding: 1vw;
    max-width: 100%;
    height: auto;
}

#myWork{
    /* text-align: center; */
    /* text-align: 50vw; */
    margin-left:40vw;
    margin-top: 15vh;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
}

.projects {
    z-index: 5;
    margin:10vw;
    /* display: block; */
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.projects a {
    margin: 1vw;
}

/* ************************** */
#cards{
    background-color: white;
    width: 20vw;
    height: 25vw;
    padding: 1vw;
    margin: 1vw;
    font-size: 1vw;
}

#text{
   position: relative;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.penImg:hover .text{
    /* position: relative; */
    opacity: 0.85;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
}

/* *************************** */
#statImg{
    width: 18vw;
    height: 18vw;
}

.statImg:hover .text{
    /* position: relative; */
    opacity: 0.85;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
}

/* *************** */
#Api1Img{
    width: 25vw;
    height: 25vw;
}

.Api1Img:hover .text{
    /* position: relative; */
    opacity: 0.85;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
}

/* ****************** */
#Api2Img{
    width: 25vw;
    height: 25vw;
}

.Api2Img:hover .text{
    /* position: relative; */
    opacity: 0.8;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
}

/* *********************** */
#blueImg{
    width: 25vw;
    height: 25vw;
}

.blueImg:hover .text{
    /* position: relative; */
    opacity: 0.85;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
}

/* ********************* */
.redImg{
    background-image: url("./assets/badges-webdev_red.png");
    background-size: 25vw 25vw;
    width: 25vw;
    height: 25vw;
}

.redImg:hover .text{
    /* position: relative; */
    opacity: 0.6;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
}

#contactSection {
    z-index: 5;
    /* position: relative; */
    margin-top:30vh;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contactForm{
    /* position: relative; */
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 80vw;
    margin-left: 15vw;
    /* margin-right:25vw; */
    /* float:right; */
}

.footer {
    margin:20px;
    display:flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

#Cbtn {
    background-color: rgb(89, 148, 194);
    border: none;
    width: 10vw;
    height: 6vw;
    margin-left: 29vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    text-align: center;
    padding: 1vw;
}

.copywrite {
    text-align: center;
}

