body {
    background-color: burlywood;
}

body nav {
    background-color: blueviolet;
}

.navbar .navbar-brand {
    background-color: navy;
    font-size: 20px;
}

#navbar .navbar-nav {
    background-color: pink;
}

.navbar .nav-link{
    background-color: pink; 
    font-family:sans-serif;
}

.back-img{
   background-image: url("./assets/willow2.jpg" );
    min-height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
}

#headerDiv {
    position: relative;
    color: rgb(17, 14, 32);
    margin: 0px;
    padding:350px;
    text-align: center;
}

#alayna{
    position: relative;
    margin: 0;
    font-size: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.back-img h3 {
    padding: 20px;
    font-size: 45px;
}

.aboutMe h2 {
    color: rgb (45,56,67);
    margin: 30px;
    text-align: center;
}

.aboutMe p {
    color: rgb (45,56,67);
    margin: 70px;
    float: right;
    width: 900px;
    font-size: 25px;
}

.aboutMe img {
    margin: 60px;
}

#myWork{
    text-align: center;
    margin: 15px;
}

.projects {
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
}

.projects a {
    margin: 10px;
}



/* .navbar{
    background-color: burlywood;
} */

/* #navList{
    background-color: burlywood;
}

 #navButtons{
    background-color: burlywood;
}   */